<h3>Results:</h3>


<img src="/img/<%= @player.pick.downcase %>.png" class="pick" alt="<%= @player.pick.downcase %>">
<img src="/img/<%= @computer.pick.downcase %>.png" class="pick" alt="<%= @computer.pick.downcase %>">


<% if @game.winner == "Draw" %>

	<h1> It was a draw </h1>

<% elsif @game.winner.name == "computer" %>

	<h1> You lost, the computer won with <%= @game.winner.pick %></h1>

<% else %>

	<h1> You won, with <%= @game.winner.pick %> </h1>

<%end%>

<form action="/play" method="POST">
	<input type="hidden" name="name" value=<%= @player_name %>>
	<input type="submit" value="Play again!">
</form>